# Copy this file to .env and add your own secrets
# Do NOT commit .env to git

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/studyTracker?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key
PORT=5000
